<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>

  <div class="nav">
    <a href="/">Back to Users List</a>
  </div>

  <h1>Registration</h1>
  <dl>
    <dt>Name</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="name" type="text" value=""></dd>
    <br>
    <dt>Age</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="age" type="number" value=""></dd>
    <br>
    <dt>Address</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="address" type="text" value=""></dd>
    <br>
    <dt>Favorite fruit</dt>
    <dd class="view"></dd>
    <dd class="edit"><input id="fruit" type="text" value=""></dd>
    <br>
    <dt></dt>
    <dd class="edit">
      <input type="submit" value="Save" onclick="save()">
    </dd>
  </dl>

  <script>
    function save () {
        fetch('/', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: document.querySelectorAll('#name')[0].value,
                age: document.querySelectorAll('#age')[0].value,
                address: document.querySelectorAll('#address')[0].value,
                fruit: document.querySelectorAll('#fruit')[0].value
              })
        }).then((response) => {
            if (response.status === 201) {
                location.assign('../');
            }
        })
    }
  </script>

</body>
</html>
